<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>登录页</title>
  <link rel = "stylesheet" th:href = "@{/css/bootstrap.min.css}"/>
  <link rel="stylesheet"  th:href="@{/css/main.css}">
  <script th:src="@{/js/jquery-3.6.0.min.js}"></script>
  <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
  <div class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
        <a th:href="@{/}" class="navbar-brand"></a>
      </div>
      <label id="toggle-label" class="visible-xs-inline-block" for="toggle-checkbox">MENU</label>
      <input class="hidden" id="toggle-checkbox" type="checkbox">
      <div class="hidden-xs">
        <ul class="nav navbar-nav">
          <li class="active"><a th:href="@{/}">首页</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
<!--          <li><a th:href="@{/login}">登录</a></li>-->
          <li><a th:href="@{/register}">注册</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container container-small">
    <h1>登录
      <small>没有账号？<a th:href="@{/register}">注册</a></small>
    </h1>
    <form th:action="@{/user/login}" method="post">
      <div th:if="${param.error}">
        <div class="alert alert-danger">用户名或邮箱不正确</div>
      </div>
      <div th:if="${param.logout}">
        <div class="alert alert-info">您已注销.</div>
      </div>
      <div class="form-group">
        <label>邮箱</label>
        <input type="email" class="form-control" name="username">
      </div>
      <div class="form-group">
        <label>密码</label>
        <input type="password" class="form-control" name="password">
      </div>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">登录</button>
      </div>
    </form>
  </div>

</body>
</html>
